CT_CONFIG_VERSION="3"
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a17"
CT_ARCH_SUFFIX="v7"
CT_ARCH_FPU="neon-vfpv4"
CT_ARCH_FLOAT_HW=y
CT_TARGET_CFLAGS="-march=armv7ve -mtune=cortex-a17 -mabi=aapcs-linux -Wno-psabi -Wa,-mno-warn-deprecated -mfloat-abi=hard -mfpu=neon-vfpv4"
CT_TARGET_LDFLAGS="-march=armv7ve -mtune=cortex-a17 -Wl,--as-needed -fuse-ld=gold"
CT_OMIT_TARGET_VENDOR=y
CT_KERNEL_LINUX=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_V_2_32=y
CT_CC_LANG_CXX=y
