CT_CONFIG_VERSION="3"
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a72.cortex-a53"
CT_ARCH_SUFFIX="v8"
CT_ARCH_FPU="crypto-neon-fp-armv8"
CT_ARCH_FLOAT_HW=y
CT_TARGET_CFLAGS="-march=armv8-a+crc -mtune=cortex-a72.cortex-a53 -mabi=aapcs-linux -Wno-psabi -Wa,-mno-warn-deprecated -mfloat-abi=hard -mfpu=crypto-neon-fp-armv8"
CT_TARGET_LDFLAGS="-march=armv8-a+crc -mtune=cortex-a72.cortex-a53 -Wl,--as-needed -fuse-ld=gold"
CT_OMIT_TARGET_VENDOR=y
CT_KERNEL_LINUX=y
CT_LINUX_V_5_1=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_V_2_32=y
CT_CC_LANG_CXX=y
