CT_CONFIG_VERSION="4"
CT_ARCH_MIPS=y
CT_ARCH_LE=y
CT_ARCH_ARCH="mips1"
CT_ARCH_FLOAT_HW=y
CT_TARGET_CFLAGS=="-mel -mabi=32 -mhard-float -march=mips1"
CT_TARGET_LDFLAGS="-Wl,-O1 -Wl,--hash-style=gnu -Wl,--as-needed"
CT_OMIT_TARGET_VENDOR=y
CT_KERNEL_LINUX=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_V_2_23=y
CT_CC_LANG_CXX=y
CT_CC_GCC_mips_plt=y
